<!--
  Generated template for the ReferalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Invite and Earn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contentback">
  <div class="container">
    <ion-row class="tabrow">
      <ion-grid style="height: 100%;text-align:center">
        <ion-row style="margin:20px 0px 30px 0px;">
          <h2 style="color:#ffab5a;font-size:26px">
            <b> Invite your friends and earn your point!</b>
          </h2>
          <br /><br />
        </ion-row>
        <!-- <ion-row style="border-bottom:1px dashed #666"></ion-row> -->
        <ion-row style="margin:10px 0px 10px 0px;">
          <span style="margin:0px auto;color:#fff">My Referral Code</span>
        </ion-row>
        <ion-row
          style="margin:0px auto;border:0.7px dashed #fff;padding:10px 10px 10px 10px;height: auto;border-radius:10%;"
          *ngFor="let item of itemMember"
        >
          <span style="font-size:26px;color:#fff" *ngIf="item.referal != ''"
            ><b>{{ item.Referal }}</b></span
          >
        </ion-row>
        <ion-row style="margin:10px 0px 10px 0px;"
          ><span style="margin:0px auto;color:#fff;font-size:16px"
            >Share your referal codes to all of your friend and get 100
            point</span
          ><br
        /></ion-row>
      </ion-grid>
      <ion-row style="margin-top:40px;width:100%">
        <ion-col class="button-activation">
          <button
            style="background:orange;border-radius:50px !important;border:1px solid #fff;"
            class="submit-btn"
            full
            (click)="whatsappShare()"
            ion-button
          >
            <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>&nbsp;
            Share via Whatsapp
          </button>
        </ion-col>
      </ion-row>
    </ion-row>
  </div>
</ion-content>
