page-home {
  #notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible !important;
  }

  .content-background {
    background-image: url("../../assets/imgs/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #notifications-badge {
    background-color: red;
    position: absolute;
    top: 0px;
    right: 4px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
  }
  .banner {
    height: 50px !important;
  }

  .button-activation {
    padding: 10px;
  }
  #tab-t0-0 {
    display: none !important;
  }
}
