page-redeemmenu {
.button{
    border-radius:5px;
    background-color: #2b529d;
}
.user-qrcode-img{
    // margin:20%;
    text-align:center;
    margin-top:19%;
    height:100px;
}
.content-background {
    background-image: url("../../assets/imgs/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
