page-historypoin {
 .hideme {
    display: none;
  }
  .header-personal-transaction {
    padding-bottom: 10px;
  }
  .sub-title-transaction {
  }

  .title-transaction {
    z-index: 999999;
  }
  .sub_title {
    font-size: 12px;
  }
  .sub_titles {
    font-size: 10px;
  }
  .lines {
    border-bottom: 0.5px solid #555;
  }
  .contentback {
    background: url("../../assets/imgs/promo.png") no-repeat center center fixed;
    background-size: cover;
    position: fixed !important;
  }
  .item-md {
    padding: 5px !important;
  }
  .container {
    width: 100% !important;
    margin-top: 100px;
    background: transparent;
    padding: 25px;
    overflow: auto !important;
  }
  .tabrow {
    background: #2b529d;
    width: 100% !important;
    min-height: 430px;
    margin: 0px auto;
    text-align: center;
    border-radius: 10px;
  }

  #notification-button {
    color: #2b529d;
  }
  .toolbar-background-ios,
  .toolbar-background-md {
    background: transparent !important;
    border: none !important;
  }
  .scroll-content {
    // overflow: hidden !important;
  }
  h3 {
    color: #fff;
  }
  .radius-border {
    padding: 5px;
    margin-bottom: 5px;
  }
}
