page-activation {
  .circle-pic{
      width:300px;
      height:300px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      padding:10px;

  }

  .header-personal{
    margin:0px auto;
  }
  .header-personal2{
    background:#222;
    height:50px;
    padding:5px;
  }
  .header-personal3{
    background:#222;
    height:auto;
    padding:10px;
  }
  .button-activation {

  
  }
}
