<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> </ion-title>
    <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="notif()">
        <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
        <ion-badge *ngIf="notification" id="notifications-badge" color="danger">
          <div></div>
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentback">
  <ion-refresher (ionRefresh)="forceReload($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <!-- <ion-refresher (ionRefresh)="forceReload($event)">
    <ion-refresher-content style="color:#fff" refreshingText="Refresh Data">
    </ion-refresher-content>
  </ion-refresher> -->
  <ion-row
    style="width: 100%; position: fixed; z-index: -999999; margin-top: -50px"
  >
    <ion-col col-12 style="margin: 0 auto; text-align: center">
      <img src="/assets/imgs/logo_top.png" style="width: 50%; padding: 40px" />
    </ion-col>
  </ion-row>
  <div class="container">
    <ion-row class="tabrow" *ngIf="msg != 'empty'">
      <ion-col col-12>
        <ion-card class="carousel-photo">
          <ion-slides
            *ngIf="promotions && promotions.length"
            pager="true"
            autoplay="5000"
            loop="false"
            speed="1000"
            pager
          >
            <ion-slide *ngFor="let service of promotions; let i = index">
              <img
                (click)="detailpromo(service.News_ID)"
                src="http://rhinoindonesia.co.id/rhino_cashier/promo_image/{{
                  service.promotion_image
                }}"
                style="object-fit: cover; margin: 0px auto"
              />
            </ion-slide>
          </ion-slides>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-item no-lines *ngIf="msg == 'empty'" class="tabrow">
      <ion-row style="text-align: center; margin: 0px auto">
        <img
          src="/assets/imgs/no_data_rhino.png"
          style="
            width: 30%;
            height: 30%;
            text-align: center;
            margin: 0px auto;
            left: 50;
            top: 50;
          "
        /><br />
      </ion-row>
      <ion-row style="text-align: center; margin: 0px auto; left: 50; top: 50">
        <h4
          style="
            color: #fff;
            text-align: center;
            margin: 0px auto;
            left: 50;
            top: 50;
          "
        >
          No data result
        </h4>
      </ion-row>
    </ion-item>
  </div>
</ion-content>
