page-loginbycashier {
  h1,
  label {
    color: #fff !important;
  }
  .login-content {
    background-image: url("../../assets/imgs/layout4.png");
    // background: url('../../img/getstart.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    .logo-row {
      padding-top: 0px;
      padding-bottom: 20px;
    }

    .login-box {
      width: 100% !important;
      // border: 0.7px solid #333;
    }
    ion-item {
      width: 100%;
      border-radius: 50px !important;
      border: 1px solid orange !important;
      font-size: 0.9em;
    }
    .alert {
      color: #f00;
      float: left;
      font-size: 12px;
    }
    .container {
      width: 100% !important;
      background: transparent;
      padding: 25px;
    }
    .tabrow {
      background: #2b529d;
      width: 100% !important;
      min-height: 240px;
      margin: 0px auto;
      text-align: center;
      border-radius: 10px;
      padding: 10px;
    }
    ion-row {
      align-items: center;
      text-align: center;
    }
    ion-input {
      //border:none !important;
      color: #000;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
    }

    // .item-inner {
    //   border-bottom-color: #ffffff !important;
    //   box-shadow: none !important;
    // }
    h3 {
      color: #fff;
    }
    label {
      color: #999;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }
  }
}
